html {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Roboto, sans-serif;
    font-size: 12px;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 10px 200px;
    height: 6vh;
}
header h1 {
    font-size: 14px;
}
header ul {
    display: flex;
}
header li {
    margin-left: 12px;
}
.section-one {
    display: flex
    height: 22vh;
}
.section-two {
    display: flex;
    height: 22vh;
}
.section-three {
    height: 22vh;
}
.section-four {
    display: flex;
    height: 22 vh;
}
footer {
    height: 6vh;
    text-align: center;
    margin: 10px 0;
}
