html {
    box-sizing: border-box;
    background-color: whitesmoke;
}
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}
a {
    text-decoration: none;
    color: white;
}
button {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    height: 30px;
    width: 100px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 10px;
}
header {
    display: flex;
    justify-content: space-between;
    height: 30px;
    background-color: darkblue;
    color: white;
    padding: 20px 200px;
}
header span {
    font-size: 16px;
    font-weight: bold;
}
header ul {
    display: flex;
}
header li {
    margin-left: 20px;
}
.section-one {
    display: flex;
    padding: 50px 200px;
    height: 200px;
    background-color: darkblue;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.section-one .intro-place{
    flex: 1;
}
.section-one h1 {
    font-size: 48px;
}
.section-one button {
    margin-top: 20px;
}
.section-one .img-place{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: lightblue;
}
.section-two {
    height: 200px;
    padding: 40px 300px
}
.section-two h2 {
    text-align: center;
    color: black;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 150px;
    text-align: center;
    flex: 1;
}
.inner-cont div {
    border: 2px solid darkblue;
    border-radius: 10%;
    height: 100px;
    width: 100px;
}
.section-three {
    height: 200px;
    background-color: lightblue;
    color: black;
    padding-top: 50px;
    padding-left: 450px;
    padding-right: 450px;
}
.section-three blockquote p {
    font-size: 36px;
    text-align: left;
}
.section-three blockquote span {
    display: block;
    font-size: 16px;
    text-align: right;
    margin-top: 10px;
}
.section-four {
    display: flex;
    height: 200px;
    padding: 0 200px;
    justify-content: center;
    align-items: center;
}
.floating-container {
    background-color:cornflowerblue;
    height: 100px;
    display: flex;
    flex: 1;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    border-radius: 10px;
}
.section-four h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
footer {
    height: 30px;
    text-align: center;
    background-color: darkblue;
    color: white;
    padding-top: 15px;
}
